.colors {
    background-color: #10183F;
    background-color: white;
    background-color: #D1AA48;
    background-color: #62748C;
}

body {
    background-color: #10183F;
    color: white;
    margin: 30px;
}

h1, h2, h3, h4, p, a {
    font-family: 'Avenir';
    font-weight: 300;
    margin-bottom: 0px;
}

a {
    text-decoration: none;
    color: white;
}

/* Header */

header {
    padding: 15px 30px 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #10183F;
    z-index: 3;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.logo {
    max-width: 250px;
}

#hamburger_icon {
    width: 30px;
    height: 20px;
}

nav {
    background-color: #10183F;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    position: fixed;
    top: 45px;
    right: 0px;
    left: 0px;
    opacity: 100%;
} 

nav a:hover, .footer_links a:hover{
    border-bottom: 2px solid white;
    transition-duration: 0.2s;
}

.active_link {
    border-bottom: 2px solid white;
}

/* Main */
main {
    margin-top: 60px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.loader {
    border: 16px solid #62748C;
    border-top: 16px solid #D1AA48;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    animation: spin 2s linear infinite;
    margin: auto;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.pageTitle {
    font-size: 1em;
}

/* INDEX PAGE */

.latestPosts {
    margin-bottom: 0px;
}

.arrow-left, .arrow-right {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    background-color: rgba(0, 0, 0, 0.0);
    color: white;
    border: none;
    font-size: 3rem;
    padding: 0;
    z-index: 2;
}

.arrow-right {
    right: 0;
    border-radius: 2rem 0 0 2rem;
}

.crselBTN:hover {
    animation-name: shine;
    animation-duration: 2s;
}

.crselContainer {
    max-width: 800px;
    position: relative;
    margin-bottom: 10px;
}

.crselSlide {
    display: none;
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    0% {opacity: 0;}
    100% {opacity: 1;}
}


.crselImg {
    width: 100%;
    border-radius: 10px;
}

.txtContainer {
    display: flex;
    justify-content: center;
}

.crselText {
    position: absolute;
    text-align: center;
    bottom: 20px;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    color: #10183F;
    background-color: #D1AA48;
    font-weight: 500;
}

.crselText:hover{
    animation-name: shine;
    animation-duration: 0.2s;
}

@keyframes shine {
    0% {
        background: linear-gradient(
          30deg, 
          white 0%, 
          #D1AA48 25%
        );
      }
    
      25% {
        background: linear-gradient(
          30deg, 
          #D1AA48 0%, 
          white 25%, 
          #D1AA48 50%);
      }
    
      50% {
        background: linear-gradient(
          30deg,
          #D1AA48 0%, 
          hsl(260, 85%, 95%) 50%, 
          #D1AA48 75%); 
      }
    
      75% {
        background: linear-gradient(
          30deg, 
          #D1AA48 0%, 
          hsl(260, 85%, 95%) 75%, 
          #D1AA48 100%); 
      }
    
      100% {
        background: linear-gradient(
          30deg, 
          #D1AA48 0%, 
          hsl(260, 85%, 95%) 100%); 
      }
}

/* POSTS PAGE */

#searchBar {
    background-color: white;
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 190px;
}

#searchButton {
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.backLink {
    text-decoration: underline;
}

.posts {
    display: flex;
    flex-flow: wrap;
}


.somePost {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 40px;
}

.titleLink{
    font-size: 1.5em;
}

.somePost:hover{
    opacity: 75%;
    transition-duration: 0.6s;
    cursor: pointer;
}

.featuredImage {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 0px;
    min-height: 200px;
}

.morePosts {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.ctaBTN {
    border-radius: 10px;
    border: none;
    padding: 10px 0px;
    text-decoration: none;
    color: #10183F;
    background-color: #D1AA48;
    margin: 13px 0px;
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 2em;
}

.ctaBTN:hover {
    cursor: pointer;
}

/* SPECIFIC POSTS PAGE */

.article_top {
    max-width: 800px;
}

.bodyText {
    max-width: 1000px;
    margin-bottom: 20px;
}

.specific h1, .bodyText h2{
    font-size: 2em;
    margin-bottom: 0px;
}

.article_top p, .bodyText p {
    margin-top: 0px;
    margin-bottom: 10px;
}

figure {
    margin: 0;
    margin-bottom: 0px;
    max-width: 800px;
}

figure img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modalImage{
    background-color: #62748C;
    margin: auto auto;
    padding: 10px;
    max-width: 300px;
    max-height: 200px;
}

/* CONTACT PAGE */

.contactForm {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #62748C;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.validation {
    margin-bottom: 0px;
}

.validation_input {
    border-radius: 5px;
    border: 2px solid white;
}

#message{
    height: 50px;
}

/* Footer */

.footer_line {
    border-top: 1px solid white;
}

.footer_links {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

footer div a {
    font-size: 1.3em;
}

.footer_logo {
    width: 200px;
    margin-top: 20px;
}


@media(min-width: 700px){
    #hamburger_icon{
        display: none;
    }

    nav{
        height: auto;
        width: 50%;
        flex-direction: row;
        justify-content: space-between;
        font-size: 25px;
        position: static;
    }

    /* POSTS PAGE */

    .posts {
        margin: -20px;
    }
    
    .somePost {
        width: 300px;
        margin: 20px;
    }

    .postspageImg {
        max-height: 200px;
    }

    .ctaBTN {
        width: 33.3333%;
    }

    /* SPECIFICI POSTS PAGE */

    .modalImage{
        max-width: 100%;
        max-height: 100%;
        margin: 100px auto;
    }
    
    /* INDEX PAGE */
    .arrow-left:hover, .arrow-right:hover {
        transition-property: color;
        transition-duration: 0.4s;
        color: #D1AA48;
    }

    .arrow-left, .arrow-right {
        font-size: 6rem;
    }

    .crselBTN {
        font-size: 2rem;
    }

    .crselText {
        font-size: 2rem;
    }

    /*  */

    .footer_links {
        justify-content: flex-start;
    }

    .footer_links a{
        margin-right: 20px;
    }
}
